@font-face {
    font-family: 'colaborate-regularregular';
    src: url('polices/colaborate_regular_macroman/ColabReg-webfont.eot');
    src: url('polices/colaborate_regular_macroman/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/colaborate_regular_macroman/ColabReg-webfont.woff') format('woff'),
         url('polices/colaborate_regular_macroman/ColabReg-webfont.ttf') format('truetype'),
         url('polices/colaborate_regular_macroman/ColabReg-webfont.svg#colaborate-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* propriétés sur toutes la page */
body{
    font-family: 'colaborate-regularregular';
    flex-direction: column;
    display:flex;
    margin:auto;
}

/*Photo et Nom/Prenom */
.titre-principal{
    display: flex;
    width: 100%;
}
.photo-profil{
    background-color: #3F51B5;
    display: flex;
    justify-content: center;
}

.photo{
    border: 3px solid #1A237E;
    border-radius: 50%;
    margin: 2em;
}

.name{
    padding-left: 3em;
    width: 100%;
}

h1{
    font-size: 4.5em;
    margin-bottom: 0;
}

.prenom{
    color: #3F51B5
}

.developpeur{
    display:flex;
    margin-bottom:2.5em;
}

.devel{
    display:flex;
    text-decoration: underline #3F51B5 ;
}

/* Propriétés sur le coté gauche (aside) dans leur ordre d'apparition */
.main-content{
    display: flex;
    width: 100%;
}
aside{
    background-color: #3F51B5;
    display:flex;
    flex-direction: column;
    max-width: 262px;
    min-width: 262px;
}  

aside p {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

h3{
    background-color:#263238;
    display: flex;
    justify-content: center;
    color : #3F51B5;
    font-size: 1.5em;
}

a{
    color: black;
    text-decoration: none;
}

.a-propos{
    flex-grow: 1;
}

.a-propos p{
    display: flex;
    text-align: justify;
}

.bloc-loisirs{
    display:flex;
    justify-content: space-around;
    padding-right: 1em; 
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.emote-loisirs{
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    padding: 0.3em;
}

/* Partie principale */
.tronc{
    display:flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 2em;
    width:100%;
}

mark{
    background-color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.titre-article{
    display:flex;
    border-bottom: solid 3px #3F51B5 ;
    padding-bottom: 0;
    margin-bottom: 1.5em;
}

.emote-titre{
    color:#3F51B5;
    padding-right: 0.5em;
    padding-top: 0.5em;
}

article{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.puce{
    display: flex;
    color:#3F51B5;
    padding-top: 1em;
    padding-right: 0.5em;
}

.formation{
    display: flex;
}

.texte-formation{
    width: 100%;
    text-align: justify;
}

.date-formation{
    display: flex;
    width: 25%;
}

.experience{
    display: flex;
    text-align: justify;
}

.date-experience{
    display: flex;
    width: 25%;
}

.texte-experience{
    width: 100%;
}

.recommandations{
    display: flex;
    justify-content: space-between;
    padding-right: 30em;
}

.recommandations p{
    margin:0;
}

.gras{
    font-weight: bold;
}

@media screen and (max-width:1215px){
    aside{
        min-width: 262px;
    }
    .recommandations{
        padding-right: 0 ;
    }
}

@media screen and (max-width:900px){
    .recommandations{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:720px){
    body{
        font-size: 0.65em;
        display: block;
    }
    .main-content{
        display: block;
        width: auto;
    }
    .titre-principal{
        display: block;
    }
    .name{
        width: auto;
    }
    aside{
        display: block;
        max-width: none;
    }
    .tronc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

    .experience, .formation{
       display: flex;
    }

    .puce{
       display: none;
    }
    .date{
       color: #3F51B5;
       font-weight: bold;
    }

    .lirec{
        margin-bottom: 2em;
    }
    .recommandations{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:490px){

    .recommandations{
        display: flex;
        flex-direction: column;
    }
}